
.w{
    width: 992px;
    header{
       .yonghu{
            height: 88px;
            padding-top: 20px;
            background: #F3F3F3;
            margin: 0 auto;
            height: 88px;
            width: 992px;
            h1{
                width: 190px;
                height: 88px;
                float: left;
                text-indent: -1000px;
                background: url(../img/ivan.fw.png) no-repeat -2px -501px ;
                a{
                    width: 190px;
                    height: 88px;
                    display: block;
                     span{
                    text-indent: -100px;
                }
                }
               
            }
            h2{
                font-size: 24px;
                height: 88px;
                line-height: 88px;
                float: left;
                margin-left: 20px;
                span{
                     padding-left: 10px;
                     border-left:1px solid #ccc;
                }
            }
            p{
                float: right;
                font-family: "SimSun";
                color:#333;
                margin-top: 58px;
                a{
                    color:#0088DD;
                }
            }
        }
    }
    main{
        width: 990px;
        height: 400px;
        margin: 0 auto;
        background: #fff;
        margin-top: 25px;
        border:1px solid #DDDDDD;
        .main1{
            a{
                display: block;
                width: 480px;
                height: 380px;
                background: url(../img/login1) no-repeat;
                margin-left: 10px;
                margin-top: 10px;
            }
        }
        .main2{
                width: 456px;
                height: 395px;
                padding-top: 33px;
                padding-right: 46px;
                position:relative;
                i{
                    width: 16px;
                    height: 20px;
                    display: block;
                    position:absolute;
                }
                .dllogo{
                    background:url(../img/ivan.fw.png) no-repeat -562px -11px;
                    left: 7px;
                    top: 47px;
                }
                .mmlogo{
                    background:url(../img/ivan.fw.png) no-repeat -563px -43px;
                    left: 7px;
                    top: 98px;
                }
                input{
                    width: 410px;
                    height: 50px;
                    font-size: 14px;
                    line-height: 50px;
                    text-indent: 2em;
                    border:1px solid #ccc;
                }
                #logWord{
                    border-top: none !important;
                    margin-bottom: 12px;
                }
                .testBox{
                    width: 410px;
                    position:relative;
                    margin-top: 6px;
                    input{
                        display: inline-block;
                        width: 227px;
                        height: 50px;
                        border:1px solid #ccc;

                    }
                    .yzm{
                        display: inline-block;
                        width: 70px;
                        height: 23px;
                        line-height: 22px;
                        background: -webkit-repeating-linear-gradient(35deg,white 0%,white 5%,#ccc 5%,#ccc 10%);
                        color:#EF5533;
                        font-weight: bold;
                        font-family: '楷体';
                        font-size: 18px;
                        text-align: center;
                        border:1px solid #DDDDDD;
                        position:absolute;
                        left: 238px;
                        top: 15px;
                        &:hover{cursor:pointer;}
                    }
                    .hyz{
                        margin-left: 90px;
                        color:#5EB8F2;
                        &:hover{cursor:pointer;}
                    }
                    .tips{
                        width: 410px;
                        // display: none;
                        height: 32px;
                        line-height: 32px;
                        color:#FF6655;
                        text-indent: 2em;
                        background: #FFEBEC;
                        border:1px solid #FFBDBF;
                        margin-top: 10px;
                    }
                }
                .log1{
                    width: 410px;
                    height: 16px;
                    margin-top: 5px;
                    input{
                        width: 14px;
                        height: 14px;

                    }
                    label{
                        margin-right: 216px;
                    }
                    a{
                        margin-top: 10px;
                       display: inline-block;
                       height: 14px;
                       padding-right:13px;
                       border-right: 2px solid #ccc;
                    }
                    a:last-child{
                        border-right:none;
                        padding-left: 13px;
                        padding-right: 0;
                    }

                }
                .btnlog{
                    margin-top:30px;
                    width: 410px;
                    height: 48px;
                    line-height: 48px;
                    color:#fff;
                    background: #FF6655;
                    font-size: 22px;
                    font-weight: bold;
                    &:hover{cursor:pointer;background: #D93600;}
                    &:active{background: #36D900;}
                }
                .line{
                    width: 410px;
                    height: 15px;
                    border-bottom:1px solid #ccc;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    span{
                        display: inline-block;
                        background: #fff;
                        margin-left: 149px;
                        color:#999999;
                        padding: 4px 4px 0 5px;
                        text-align: center;
                    }
                }
                .com{
                    margin-left: 91px;
                    margin-top: -3px;
                    ul{
                        li{
                            height: 14px;
                            line-height: 14px;
                            float: left;
                            a{
                                display: block;
                                padding-right: 14px;
                                border-right: 2px solid #ccc;
                                padding-left: 14px;
                            }
                        }
                        li:last-child{
                            a{
                                border:none;
                            }
                        }
                    }
                }

            }
    }  
}
